<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  
  <script src="https://cdn.jsdelivr.net/p/jarallax@1.10.7/jarallax.min.js"></script>
  <style>
  </style>
</head>

<body>

    <section data-bs-version="5.1" class="inspirem5 article2 cid-toElQ8Tv6i mbr-parallax-background" id="article02-5" style="z-index: 0; background-image: none; position: relative;">
        <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(213, 196, 9);"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12 col col-lg-5">
                    <div class="card-wrapper align-left">
                        <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">OUR MISSION</h2>
                        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>About Our Counseling</strong></h1>
    
    
                    </div>
                </div>
    
                <div class="col-12 col-md-12 col col-lg-5">
                    <div class="card-wrapper align-left">
    
                        <p class="mbr-text mbr-fonts-style display-5">Random text.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/extensions/inspirem5/counseling-expert/assets/images/background1.jpg&quot;); position: absolute; top: 0px; left: 0px; width: 1166px; height: 1111.36px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 127.322px; transform: translate3d(0px, -228.184px, 0px);"></div></div></section>
    <link href="jarallax.min.css" rel="stylesheet">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 pb-4">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-1">
                    <strong>Our Team</strong>
                </h3>
                
            </div>
            <div class="col-sm-6 card col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap img1">

                    </div>
                    <div class="content-wrap">
                        <h6 class="mbr-role mbr-fonts-style align-left mb-3 display-5">
                            Co-Founder & Chief Medical Officer</h6>
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-2">
                            <strong>Dr. Nishita Sheth</strong>
                        </h5>

                        <p class="card-text mbr-fonts-style pb-5 align-left display-4">
                            Description about Dr. Nishita.
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 card col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap img2">

                    </div>
                    <div class="content-wrap">
                        <h6 class="mbr-role mbr-fonts-style align-left mb-3 display-5">
                            Co-Founder & Chief Executive Officer
                        </h6>
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-2">
                            <strong>Siddharth Nigam</strong>
                        </h5>

                        <p class="card-text mbr-fonts-style pb-5 align-left display-4">
                            Description about Sid.
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-sm-6 card col-lg-4">
                <div class="card-wrap">
                    <div class="image-wrap img3">

                    </div>
                    <div class="content-wrap">
                        <h6 class="mbr-role mbr-fonts-style align-left mb-3 display-5">
                            Chief Operating Officer
                        </h6>
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-2">
                            <strong>Dr. Prashant Vikram</strong>
                        </h5>

                        <p class="card-text mbr-fonts-style pb-5 align-left display-4">
                            Description about Dr. Prashant.
                        </p>
                        <div class="social-row display-7">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
      

</body>

</html>